body{
    background: url(images/concert.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black;

}
h1{
    font-family:'Alumni Sans Inline One', cursive;
    text-shadow: rgba(255, 72, 0, 0.733) 2px 2px 2px;
    font-size:100px;
    color: rgba(255, 255, 255, 0.281);
    font-weight: 400;
    margin:10px;
}
#card{
    padding:20px;
    position: relative;
    left:25%;
    width:50%;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius:2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
#wrapper{
    font-size:20px;
}
#performers{
    font-size:20px;
    border: none; padding: 5px;
    text-align: center;
}
#searchButton{
    background:rgb(255, 255, 255);
    color: rgba(241, 129, 0, 0.986);
    border: none;padding: 5px;
    font-size:20px;
    width:200px;
}